<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yousef.mysight00">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="My Sight"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySight">
        <activity
            android:name=".ui.GpsBlindFragment"
            android:exported="false" />
        <activity
            android:name=".ui.GpsAlzheimerFragmentUnsafe"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBlindFragment"
            android:exported="false" />
        <activity
            android:name=".ui.HomeAlzhaimerFragment"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>